body {
    min-height: 100%; 
    height: 100%;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.white {
    background-color: #fff;
}

.red {
    background-color: #a9004d;
}

.orange {
    background-color: #ff863f;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.header-right {
    width: 160px; 
    height: 60px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.header-right-left {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.header-right-center {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.header-right-right {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}


/* .main { 
    width: 400px;
    height: 100px;
    background-color:blue;
} */
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}

.right-upper {
    width: 150px; 
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
}

.right-upper-in {
    float:left;
    width: 140px; 
    height: 40px;
    margin:  5px;
}

.right-center {
    width: 150px; 
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
}
.right-center-in {
    float:left;
    width: 140px; 
    height: 40px;
    margin:  5px;
}

.right-under {
    width: 150px; 
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
}

.right-under-in {
    float:left;
    width: 140px; 
    height: 40px;
    margin:  5px;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

* {
    margin: 0;
    padding: 0;
}