.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.main3{
    float: left;
}
.main2{
    float: left;
}
.left2 {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}
.left3 {
    width: 150px;
    height: 100px;
    background-color: #0093b7;
}
.right {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}
.under {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: left;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
@media screen and (max-width: 767px) {
    .clearfix::after { 
        content: '';
        display: block; 
        clear: both;
    }
    
    .header {
        width: 300px;
        height: 100px;
        background-color: #141f40;
    }
    .left {
        width: 100px;
        height: 250px;
        background-color: #80bfa8;
        float: left;
    }
    .main3{
        float: left;
    }
    .main2{
        float: left;
    }
    .left2 {
        width: 125px;
        height: 50px;
        background-color: #dbd400;
    }
    .left3 {
        width: 125px;
        height: 100px;
        background-color: #0093b7;
    }
    .right {
        width: 75px;
        height: 150px;
        background-color: #ff9e6b;
        float: left;
    }
    .under {
        width: 200px;
        height: 100px;
        background-color: #8c2727;
        float: left;
    }
    .footer {
        width: 300px;
        height: 100px;
        background-color: #d98d30;
    }
}

@media screen and (max-width: 479px) {

    .clearfix::after { 
        content: '';
        display: block; 
        clear: both;
    }
    
    .header {
        width: 150px;
        height: 100px;
        background-color: #141f40;
    }
    .left {
        width: 150px;
        height: 250px;
        background-color: #80bfa8;
        float: none;
    }
    .main3{
        float: none;
    }
    .main2{
        float: none;
    }
    .left2 {
        width: 150px;
        height: 50px;
        background-color: #dbd400;
    }
    .left3 {
        width: 150px;
        height: 100px;
        background-color: #0093b7;
    }
    .right {
        width: 150px;
        height: 150px;
        background-color: #ff9e6b;
        float: none;
    }
    .under {
        width: 150px;
        height: 100px;
        background-color: #8c2727;
        float: none;
    }
    .footer {
        width: 150px;
        height: 100px;
        background-color: #d98d30;
    }

}